.fotter__logo
.fotter__text.
    Директор<br>
    АНО «Мордовский РЭПЦ»	<br>
    Заслуженный юрист Республики Мордовия<br>
    Почетный работник юстиции России                                                              <b>  Ю.П. Любаев</b>

