.header_content_wrapper
    .header_logo

    .header_text
        .header_text_title1.
            АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ
        .header_text_title2.
            МОРДОВСКИЙ РЕГИОНАЛЬНЫЙ ЭКСПЕРТНО-ПРАВОВОЙ ЦЕНТР
.header_contact.
    Адрес:430000, Республика Мордовия,<br>
    г. Саранск, ул. Васенко, д.34 <br>
    Тел./факс: (8-834-2) 24-37-24,<br>
    моб.: 8-927-275-00-27 <br>
    email:anorapc@mail.ru
.header-nav
    ul.nav-list
        a(href="../index.html").nav-list_link.nav-list_link_activ
            li ГЛАВНАЯ
        a(href="contacts.html").nav-list_link
            li КОНТАКТНАЯ ИНФОРМАЦИЯ
        a(href="leadership.html").nav-list_link
            li О РУКОВОДСТВЕ
        a(href="ekspertProf.html").nav-list_link
            li ЭКСПЕРТНЫЙ ПРОФИЛЬ
        a(href="page/ekspertProf.html").nav-list_link
            li СОТРУДНИЧЕСТВО




