include _mixin

doctype HTML
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta(name="description" content="loft")
        link(rel="icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/css/main.css")
        block head

    body
        .wrapper_main
            header.header
                block headContent
            .main-contant
                block menu
            footer.footer
                include ./footer

