include add/_mixin
extends add/main

block headContent
    include add/header

block menu
    .header-nav
        a(href="../index.html").nav-link
            .nav-link__text ГЛАВНАЯ
        a(href="contacts.html").nav-link.nav_link_activ
            .nav-link__text КОНТАКТНАЯ ИНФОРМАЦИЯ
        a(href="leadership.html").nav-link
            .nav-link__text О РУКОВОДСТВЕ
        a(href="ekspertProf.html").nav-link
            .nav-link__text ЭКСПЕРТНЫЙ ПРОФИЛЬ
        a(href="ekspertProf.html").nav-link
            .nav-link__text СОТРУДНИЧЕСТВО

    .wrap_background
    .wrapper-contact
        .contact-content
            table.contact_table
                tr.contact_td
                    td.contact_tr.
                        Контактное лицо:
                    td.contact_tr.
                        Ю.П. Любаев<br>
                tr.contact_td
                    td.contact_tr.
                        Адрес:
                    td.contact_tr.
                        430000, Республика Мордовия,<br>
                        г. Саранск, ул. Васенко, д.34
                tr.contact_td
                    td.contact_tr.
                        Телефон:<br>
                        мобильный:
                    td.contact_tr.
                        8(8342) 24-37-24,<br>
                        8(927) 275-00-27
                tr.contact_td
                    td.contact_tr.
                        Эл.почта:
                    td.contact_tr.
                        anorapc@mail.ru<br>
                tr.contact_td
                    td.contact_tr.
                        Распорядок работы:
                    td.contact_tr.
                        пн-чт : 9.00-18.00<br>
                        пт: 9.00-17.00<br>
                        обед: 13.00-14.00


        .contact-map
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1448.4055418987875!2d45.16916153365863!3d54.19501254318677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414408c6887894e9%3A0x1cb16e17dc414633!2z0YPQuy4g0JLQsNGB0LXQvdC60L4sIDM0LCDQodCw0YDQsNC90YHQuiwg0KDQtdGB0L8uINCc0L7RgNC00L7QstC40Y8sIDQzMDAxMQ!5e1!3m2!1sru!2sru!4v1470855636788" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
