include add/_mixin
extends add/main

block headContent
    include add/header

block menu
    .header-nav
        a(href="../index.html").nav-link
            .nav-link__text ГЛАВНАЯ
        a(href="contacts.html").nav-link
            .nav-link__text КОНТАКТНАЯ ИНФОРМАЦИЯ
        a(href="leadership.html").nav-link.nav_link_activ
            .nav-link__text О РУКОВОДСТВЕ
        a(href="ekspertProf.html").nav-link
            .nav-link__text ЭКСПЕРТНЫЙ ПРОФИЛЬ
        a(href="ekspertProf.html").nav-link
            .nav-link__text СОТРУДНИЧЕСТВО
    .wrap_background
    .leadership_block
        .leadership-content
            .content-photo
                img(src="../image/director.jpg" alt="photo")
            .director_text
                p <b>Любаев Юрий Павлович</b> имеет высшее юридическое образование, 19 летний стаж работы в юриспруденции в качестве нотариуса, помощника межрайонного прокурора, прокурора района, начальника отдела и заместителя начальника Следственного Управления органов прокуратуры, а также 17,5 летний стаж руководителя Мордовской лаборатории судебной экспертизы Минюста России.
                p За вклад в укреплении законности и правопорядка, эффективное обеспечение прав и законных интересов личности и государства неоднократно поощрялся Генеральной прокуратурой СССР, РСФСР, ЦК профсоюза работников Госучреждений СССР.
                p За реализацию государственной политики в сфере юстиции, умелую организацию работы в области судебной экспертизы Любаев Юрий Павлович также награжден ведомственными наградами Минюста России, в т.ч. медалью Анатолия Кони, медалями «За усердие» I и II степени, медалью Российского федерального центра судебной экспертизы при Минюсте России «За вклад в судебную экспертизу», ему присвоено звание «Почетный работник юстиции России»,
                p За заслуги перед Республикой Мордовия Любаев Юрий Павлович награжден медалью «За заслуги. В ознаменовании 1000-летия единения Мордовского народа с народами Российского государства», присвоено почетное звание «Заслуженный юрист Республики Мордовия», награждался Почетными грамотами Главы Республика Мордовия, Государственного собрания и Правительства Республики Мордовия, Главного федерального инспектора Республики Мордовия.
                p Любаев Юрий Павлович пользуется заслуженным авторитетом у работников правоохранительных органов, судебного сообщества Республики Мордовия.
        .leadership-content
            .content-photo
                img(src="../image/vice_director.jpg" alt="photo")
            .director_text
                p <b>Ларин Руслан Ринатович</b> имеет высшее строительное и высшее юридическое образование.
                p Судебно-экспертную деятельность Ларин Р.Р. начал в 2012 году, в должности главного специалиста в Федеральном бюджетном учреждении Мордовская лаборатория судебной экспертизы Министерства юстиции Российской Федерации, в 2013 году присвоена  квалификация судебного эксперта по специальности – 16.1 «Исследование строительных объектов и территории функционально связанной с ними, в том числе с целью проведения их оценки».
                p Прошел курсы повышения квалификации по сметному делу в строительстве, проведению процедуры медиации, а также по вопросам землеустройства.
                p Судебные экспертизы им выполняются в установленные сроки, качественно. Повторные экспертизы после него не назначались.
                p Ларин Р.Р. пользуется авторитетом у органов и лиц, назначающих судебные экспертизы (судей, следователей, дознавателей).








