include add/_mixin
extends add/main

block headContent
    include add/header

block menu
    .header-nav
        a(href="../index.php").nav-link
            .nav-link__text ГЛАВНАЯ
        a(href="contacts.php").nav-link
            .nav-link__text КОНТАКТНАЯ ИНФОРМАЦИЯ
        a(href="leadership.php").nav-link.nav_link_activ
            .nav-link__text О РУКОВОДСТВЕ
        a(href="ekspertProf.php").nav-link
            .nav-link__text ЭКСПЕРТНЫЙ ПРОФИЛЬ
        a(href="cooperation.php").nav-link
            .nav-link__text СОТРУДНИЧЕСТВО
        a(href="reviews.php").nav-link
            .nav-link__text ОТЗЫВЫ
    .wrap_background
    .leadership_block

        .leadership-content

            img(src="../image/vice_director.jpg" alt="photo")
            .director_text
                p <b>Ларин Руслан Ринатович</b> - директор организации, имеет высшее строительное и высшее юридическое образование.
                p Судебно-экспертную деятельность Ларин Р.Р. начал в 2012 году, в должности главного специалиста в Федеральном бюджетном учреждении Мордовская лаборатория судебной экспертизы Министерства юстиции Российской Федерации, в 2013 году присвоена  квалификация судебного эксперта по специальности – 16.1 «Исследование строительных объектов и территории функционально связанной с ними, в том числе с целью проведения их оценки».
                p Прошел курсы повышения квалификации по сметному делу в строительстве, проведению процедуры медиации, а также по вопросам землеустройства.








