include add/_mixin
extends add/main

block headContent
    include add/headerPage

block menu
    .wrap_background
    .leadership-contant
        img(src="../image/director.jpg").contant-photo






