.header {

  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  padding-top:30px;
  width:100%;

  @media screen and (min-width: 1920px){background: url('../image/fon1.jpg');background-repeat: no-repeat;
    background-size: cover;};
  @media screen and (min-width: 1591px) and (max-width: 1919px){background: url('../image/fon1-1600.jpg');background-repeat: no-repeat;
    background-size: cover;};
  @media screen and (min-width: 1360px) and (max-width: 1590px){background: url('../image/fon1-1366.jpg');background-repeat: no-repeat;
    background-size: cover;};
  @media screen and (min-width: 1025px)and (max-width:1359px){background: url('../image/fon1-1240.jpg');background-repeat: no-repeat;
    background-size: cover;};
  @media screen and (min-width: 801px)and (max-width:1024px){background: url('../image/fon1-1024.jpg');background-repeat: no-repeat;
    background-size: cover;};
  @media screen and (min-width: 481px) and (max-width:800px){background: url('../image/fon1-768.jpg');background-repeat: no-repeat;
  background-size: cover;};
  @media screen and (min-width: 321px) and (max-width:480px){background: url('../image/fon1-480.jpg');background-repeat: no-repeat;
  background-size: cover;};
  @media screen and (max-width:320px){background: url('../image/fon1-320.jpg');background-repeat: no-repeat;
    background-size: cover;};

  @media screen and (min-width: 440px) {height:300px;}
  @media screen and (max-width: 439px) {height:300px;}

  .header_contact{
    position: absolute;
    right:0;
    top:10px;

    margin-left:10px;
    margin-top: 3px;
    line-height: 1.7rem;

    border-radius: 6px;
    padding:3px;
    background: rgba(255,255,255,0.7);
    border:1px solid #000;

    @media screen and (min-width: 1240px){ width: 250px; font-size: 1.1rem;};
    @media screen and (min-width: 769px) and (max-width:1239px){ width: 250px; font-size: 1rem;};
    @media screen and (min-width: 481px) and (max-width:768px){ width: 212px; font-size: 0.9rem;};
    @media screen and (max-width: 480px){ width: 212px;font-size: 0.9rem;};
  }
}

.header_content_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header_logo{
    //background: rgba(255,255,255,0.5);
    background-image: url('../image/logo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    width:128px ;
    border-radius: 15px;

    @media screen and (max-width: 560px){ align-self: flex-start;width:90px ;height: 87px;margin-bottom: 20px;};

  }

}
.header_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  .header_text_title1{
    margin-top: 10px;
    width:100%;
    max-width: 640px;
    text-align: center;
    Text-shadow: 0 0 3px #fff;
    font-weight: 400;
    border-radius: 5px;

    @media screen and (min-width: 1240px){font-size:1.4rem;};
    @media screen and (min-width: 768px) and (max-width:1239px){font-size:1.2rem;};
    @media screen and (min-width: 481px) and (max-width:767px){font-size:1.1rem;};
    @media screen and (max-width: 480px){font-size:1rem;};
  }
  .header_text_title2{
    margin-top: 10px;
    max-width: 1000px;
    width:100%;
    text-align: center;
    font-weight: 700;
    ///background: rgba(255,255,255,0.7);
    Text-shadow: 0 0 3px #fff;
    border-radius: 5px;

    @media screen and (min-width: 1240px){font-size:1.6rem;};
    @media screen and (min-width: 768px) and (max-width:1239px){font-size:1.4rem;};
    @media screen and (min-width: 481px) and (max-width:767px){font-size:1.3rem;};
    @media screen and (max-width: 480px){font-size:1.1rem;};

  }
}