include jade/add/_mixin
extends jade/add/main

block headContent
    include jade/add/header

block menu

    .wrap_background
    .main-content_text
        p.
            В целях оказания помощи правоохранительным органам, судам (судьям), судебным приставам, налоговым органам, адвокатуре, нотариату, юридическим лицам и гражданам при назначении и проведении судебных экспертиз в Республике Мордовия создана Автономная некоммерческая организация «Мордовский региональный экспертно-правовой центр» и приступила к приему материалов для производства судебных экспертиз.
        p.
            Предметом деятельности Центра является:
            <br> - содействие органом следствия, дознания и судам (судьям), иным органам и должностным лицам в осуществлении ими своей деятельности посредством разрешения вопросов, требующих специальных знаний в области науки, техники, искусства и ремесла;
            <br>- оказание экспертных и правовых услуг на договорной основе гражданам и юридическим лицам при рассмотрении ими споров в судебном и несудебном порядке;
            <br>- создание условия для применения альтернативной процедуры урегулирования споров с участием в качестве независимого лица – медиатора (процедура медиации);
            <br>- содействие органам государственной власти и органам местного самоуправления в осуществлении ими своей деятельности по социальной поддержке населения.
            Для достижения своих уставных целей Центр осуществляет следующие основные виды деятельности:
            <br>- проведение судебных экспертиз и экспертных исследований по заданию судов (судей), органов следствия и дознания, иных лиц, наделенных таким правом, в том числе и по обращениям граждан и юридических лиц;
            <br>- оказание правовых услуг (представительство в суде, консультации, подготовка заявлений, договоров и др.) гражданам, индивидуальным предпринимателям, юридическим лицам, за исключением уголовного судопроизводства;
            <br>- оказание консультаций по вопросам подготовки, назначения и производства судебных экспертиз и экспертных исследований;
            <br>- оказание услуг переводчика;
            <br>- услуги по оценке движимого и недвижимого имущества;
            <br>- проведение процедуры медиации по спорам, возникающим из гражданских правоотношений, в том числе трудовых и семейных;
            <br>- оказание социальных услуг посредством безвозмездного либо на льготной основе проведения экспертной и правовой помощи определенным категориям населения республики.
        p.
            Сроки выполнения экспертиз устанавливаются по согласованию с заказчиком, но не более 20 рабочих дней. Приоритетное направление Центра – выполнение экспертиз в разумные сроки, без ущерба их качеству.
            Центр не имеет целью извлечения прибыли при осуществлении деятельности, направленной на достижение уставных задач.
        p.
            В деятельности Центра предусмотрено оказание социальных услуг по оплате стоимости экспертиз (пенсионерам, инвалидам участникам Великой Отечественной войны), а также по уголовным делам при расследовании тяжких и общественно значимых преступлений.
            Производство экспертиз осуществляется с использованием методик, рекомендуемых к применению в судебно-экспертных учреждениях Минюста России.<br>
        p.
            Судебно-экспертная деятельность Центра осуществляется в строгом соответствии учредительных документов, требований соответствующих статей ФЗ «О государственной судебно-экспертной деятельности в Российской Федерации», норм процессуального законодательства.
            В целях обеспечения качества подготовки экспертных материалов целесообразна предварительная консультация с экспертами Центра по возникающим вопросам (особенно проблемным) назначения и проведения экспертиз по телефонам: 8 (834-2) – 24-37-24, 8-927-275-00-27 либо по адресу: 430030, г. Саранск, ул. Васенко, 34.






